.home-container {

   display: flex; 
   justify-content: center;
   align-items: flex-start;
   flex-wrap: wrap;
   gap: 5px; 
 }
 
 .tabla-filtro {
  
   padding: 20px;
   max-height: 80%; 
   overflow-y: auto; 
 }
 
 .tabla-registro {
  
   padding: 5px; 
   border-collapse: collapse;

   box-sizing: border-box; 
   margin-bottom: 10px; 
 }
 